body{
    font-family: 'Open Sans', sans-serif;
}


#barras{
    padding-top:10px;
margin:0 auto;
    width:45%;
}

#barras2{
    padding-top:10px;
    margin:0 auto;
        width:45%;
    }
   
.tooltip {
    background: rgba(255,255,255,1);
    border: 1px solid grey;
    font-family: sans-serif;
    font-size: 11px;
    padding: 4px;
    pointer-events: none;
    text-align: left;
    width: 120px;
}

.tooltip p {
    margin: 4px 0;
    padding:2px;
    width:100%;
}

#xAxis.tick line{
    visibility:hidden;
  }



h2{
    width: 50%;
    margin:0 auto;
    padding-top:1em;

}

p{
padding-top:2em;
width: 50%;
margin:0 auto;
}

p a{
  color:black;
    }

    @media (max-width: 800px) {
  
        h2{
            width: 80%;
            margin:0 auto;
        
        }
        
        p{
        padding-top:2em;
        width: 80%;
        margin:0 auto;
        }
        #barras{
            padding-top:10px;
        margin:0 auto;
            width:100%;
        }
        
        #barras2{
            padding-top:10px;
            margin:0 auto;
                width:100%;
            }

        }
    @media (max-width: 600px) {
  
        h2{
            width: 100%;
            margin:0 auto;
        
        }
        
        p{
        padding-top:2em;
        padding-bottom:2em;

        width: 100%;
        margin:0 auto;
        }
        #barras{
            padding-top:10px;
        margin:0 auto;
            width:100%;
        }
        
        #barras2{
            padding-top:10px;
            margin:0 auto;
                width:100%;
            }



        }

        @media (max-width: 400px) {
  
            h2{
                width: 100%;
                margin:0 auto;
            
            }
            
            p{
            padding-top:2em;
            width: 100%;
            margin:0 auto;
            }

            #barras{
                padding-top:10px;
            margin:0 auto;
                width:100%;
            }
            
            #barras2{
                padding-top:10px;
                margin:0 auto;
                    width:100%;
                }

            }

            @media (max-width: 300px) {
  
                h2{
                    width: 100%;
                    margin:0 auto;
                
                }
                
                p{
                padding-top:2em;
                width: 100%;
                margin:0 auto;
                }

                #barras{
                    padding-top:10px;
                margin:0 auto;
                    width:100%;
                }
                
                #barras2{
                    padding-top:10px;
                    margin:0 auto;
                        width:100%;
                    }
                }





